.form {
    display: flex;
    column-gap: 10px;
}

.form_box {
    display: flex;
    justify-content: center;
}

.inp_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp_box span {
    color: red;
    font-size: 13px;
;
}