.user {
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.form {
    display: flex;
    margin-left: 20px;
    column-gap: 10px;
}